:
:root {
	--color-top-bar: #1b72e8;
	--color-green: #198754;
	--color-yellow: #ffc107;
	--color-red: #dc3545;
	--color-gray: #6c757d;
	--color-left-bar: #051e34;
	--color-white: #ffffff;
}

/* debug */
.em-debug{
    border: 1px solid red;
}

/* container */
.em-wrapper{
    background-color: var(--color-white);
    height: 100vh;
}
/* header */
.header-content{
    height: 80px;
}

header{
    background-color: var(--color-gray);
}

.content-left,
.content-right{
    width: 10%;
    height: 60px;
}

.content-left img{
    display: block;
    width: 100%;
}

#sidebar{
    width: 200px;
    background-color: var(--color-left-bar);
    padding-top: ;
}
/* main */

#em-table{
    font-size: 0.8rem;
}

tbody tr td img{
    width: 30px;
    padding-right: 5px;
}
/* 
tr th:nth-child(1){
    text-align: center;
}
 */
main{
    width: calc(100% - 200px);
    margin-top: 150px;
    overflow-y: scroll;
}


.title{
    background-color: var(--color-gray);
}


