:
:root {
	--color-top-bar: #1b72e8;
	--color-green: #198754;
	--color-yellow: #ffc107;
	--color-red: #dc3545;
	--color-gray: #6c757d;
	--color-left-bar: #051e34;
	--color-white: #ffffff;
}

/* debug */
.em-debug{
    border: 1px solid red;
}

/* container */
.em-wrapper{
    background-color: var(--color-white);
    height: 100vh;
}
/* header */
.header-content{
    height: 80px;
}

header{
    background-color: var(--color-gray);
}

.content-left,.content-right{
    width: 200px;
}

.content-right{
   margin-right: 20px;
}

.dropdown-menu li a{
    font-size: 0.8em;
}

.fa-bell{
    color: #fd7e14;;
}

.content-center{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.content-left img{
    display: block;
    width: 100%;
}

.fa-list,.fa-ellipsis-vertical,#mark,.fa-bell{
    cursor: pointer;
}

.fa-question{
    font-size: 0.7em;
    text-align: center;
    vertical-align: middle;
}

#mark{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

/* sidebar */

#sidebar{
    width: 200px;
    background-color: var(--color-left-bar);
    padding-top: 125px;
}

.fa-house,.fa-chart-simple,.fa-signal,.fa-gear{
    font-size: 1.5em;
   
}

.fa-signal{
   
    font-size: 1.3em;
}

#sidebar ul li a i{
    padding-right: 10px;
}

#sidebar ul li{
    list-style: none;
}

#sidebar ul a{
    text-decoration: none;
    font-size: 1em;
    
}

/* main */
main{
    width: calc(100% - 200px);
    margin-top: 99px;
    overflow-y: scroll;
}

#blue-div{
   overflow: auto;
   width: 100%;
}

.btn-blue-container{
    background-color: #175bba;
}

.entity{
    color: white;
    font-size: 1.5em;
    margin-left: 10px;
    margin-bottom: 3px;
    vertical-align: top;
}

.btn-plus{
    border: 1px solid white;
    margin-left: 10px;
}

#em-table{
    font-size: 0.8rem;
}

tbody tr td img{
    width: 30px;
   border-radius: 50%;
}

table tr th:first-child{
    width: 60%;
}


table tr th:not(:nth-child(1)),
table tr td:not(:nth-child(1)){
    text-align: center;
}
 
.title{
    background-color: var(--color-gray);
}


@media screen and (max-width:1400px){
    #small-logo{
     display: none; 
    } 
 }

@media screen and (max-width:992px){
    #sidebar{
        width: 90px;
    }

    #small-logo{
        display: block;
        width: 60%;
    }

    #big-logo{
        display: none; 
    }

    #sidebar ul li span{
        display: none;
    
    }

    .row div .text-blue .btn-none{
        display: none;
    }

    .text-right{
        display: flex;
    }

    .text-in-middle{
        margin-left: -60px;
    }

    #new-student{
        font-size: 0.9em;
    }

    #btn-plus{
        margin-bottom: auto;
        margin-top: 6px;
    }

    #box-card{
    width: 100%;
    }

    .box-sections{
        width: 770px;
    }

}

@media screen and (max-width:768px){
    
    .text-right{
        display: flex;
    }

    .text-in-middle{
        padding-left: 15px;
    }

    .no-show{
        display: none;
    }
    
    .box-sections{
        width: 100%;
    }



}



